label {
  display: block;
  margin-bottom: 3px;
}

.text, .textarea {
  margin-bottom: 15px;
  width: 100%;
  border: 1px solid $gray-light;

  @include media-breakpoint-up(md) {
    width: 500px;
  }
}


.invisible {
  display: none;
}

.form-border {
  margin-bottom: 30px;
}
