.wrapper {

  &-text {
    padding-bottom: 15px;
  }
}

.text {
  &-after {
    padding: 10px 0;
    border-top: 1px solid $gray-light;
  }
}

.image {
  display: none;

  @include media-breakpoint-up(md) {
    display: block;
    width: 100%;
    height: auto;
    margin: 30px 0;
  }
}
