//includes
@import 'bootstrap';
@import 'text';
@import 'form';
@import 'base/header';
@import 'base/navi';
@import 'base/fonts';
@import 'base/footer';

//global styles

body {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  height: 100%;
}

html {

}

.wrapper-content {
    border: 2px solid $gray-light;
    margin: 10px 20px 30px 20px;
    padding: 0 0 0 0;

    @include media-breakpoint-up(md) {
      margin: 10px 70px 30px 70px;
    }

    @include media-breakpoint-up(lg) {
      margin: 10px 120px 30px 120px;
    }
  }

#wrapper {
  background: $white;
}



