body {
  font-weight: normal;
}

h1 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}


h5 {
  font-size: 0.9rem;
}

a {
 text-decoration: underline;

  &:hover,
  &:focus,
  &:active {
    color: $gray-dark;
  }
}

.notfall {
  color: $red;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.imprint {
  font-size: 0.7rem;
}
