.header-bg {
  position: relative;
  padding: 5px 0 10px 0;
  width: 100%;
  text-align: left;

  @include media-breakpoint-up(lg) {
    padding: 20px 0 60px 0;
    height: 181px;
    background: no-repeat url('/files/img/header_roland.jpg');
    background-size: cover;
    background-position: left;
    text-align: right;
  }

  &-text {
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    margin-top: 5px;
    padding: 0 70px 0 15px;

    @include media-breakpoint-up(lg) {
      font-size: 40px;
      padding: 0 50px 0 15px;
    }

  }
}

.header {
  border-bottom: 1px solid $gray-light;
  margin-bottom: 30px;
  color: $gray-dark;

  @include media-breakpoint-up(lg) {
  color: $white;
  }
}

