.navbar {
  padding: 10px 0 0 0;
  margin: 0 0 -1px 0;
  font-weight: 800;

  a {
    text-decoration: none;
  }
}

.nav-link, .nav-item {
  color: $gray-link;
  font-weight: lighter;
}

.nav-item {
  border: 1px solid transparent;

  &-active,
  &.trail,
  &:hover,
  &:focus {

    @include media-breakpoint-up(lg) {
      background-color: $gray-lighter;
      border: 1px solid $gray-light;
      border-bottom-color: $white;

    }
  }
}

// MOBILE

.navbar-toggler {
  border: 1px solid $navbar-light-disabled-color;

  &-right {
    position: absolute;
    top: 10px;
    right: 10px;

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  &-icon {
    background-image: $navbar-light-toggler-bg;
  }
}

// SUBNAVI

.header .level_2 {
  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.subnavi {
  display: none;

  @include media-breakpoint-up(lg) {
    display: inline;
  }

  &-nav {
    .nav-item {
      border: 1px solid transparent;

      &-active,
      &.trail,
      &:hover,
      &:focus {
        @include media-breakpoint-up(lg) {
          background-color: $gray-lighter;
          border: 1px solid $gray-light;

        }
      }
    }
  }
}

.level_2, .level_3 {
  color: $gray-light;
  padding-left: 10px;
}


